<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="createWorkForm.valid && submitted && !isFailed">
        <h3>Create New Work entry:</h3>
        <form [formGroup]="createWorkForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="form-group">
            <label>Work type</label>
            <input type="text" formControlName="workType" class="form-control" placeholder="Work type"
                   [ngClass]="{ 'is-invalid': f.workType.touched && f.workType.errors }"/>
            <div *ngIf="f.workType.errors" class="invalid-feedback">
              <div *ngIf="f.workType.touched && f.workType.errors.required">Work type is required!</div>
              <div *ngIf="f.workType.errors.pattern">Invalid work type, must be Steering wheel or Wheel or Engine or Electronics or Diagnostics!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Work name</label>
            <input type="text" formControlName="workName" class="form-control" placeholder="Work name"
                   [ngClass]="{ 'is-invalid': f.workName.touched && f.workName.errors }"/>
            <div *ngIf="f.workName.errors" class="invalid-feedback">
              <div *ngIf="f.workName.touched && f.workName.errors.required">Work name is required!</div>
            </div>
          </div>
          <div class="work-content">
            <div class="form-group work-content-inner">
              <label>Work price</label>
              <input type="text" formControlName="price" class="form-control" placeholder="Work price"
                     [ngClass]="{ 'is-invalid': f.price.touched && f.price.errors }"/>
              <div *ngIf="f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.touched && f.price.errors.required">Work price is required!</div>
                <div *ngIf="f.price.errors.pattern">Invalid number format, must be double 0.00!</div>
              </div>
            </div>
          <div class="form-group">
            <label>Select Car</label>
            <div>
              <button type="button" class="btn btn-outline-secondary button-size" (click)="openModalForCar(CAR)">Show cars</button>
            </div>
          </div>
            <div class="form-group">
              <label>Select Car service</label>
              <div>
                <button type="button" class="btn btn-outline-secondary button-size" (click)="openModalCarService(CARSERVICE)">Show car services</button>
              </div>
            </div>
          </div>
          <div class="form-group button-alignment">
            <div>
              <button type="submit" class="btn btn-outline-secondary"
                      [disabled]="createWorkForm.invalid || selectedCarService == undefined || selectedCar == undefined ">Create
              </button>
            </div>
            <div>
              <button class="btn btn-outline-secondary" (click)="back()">Back</button>
            </div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && createErrorMessage">Creating
          failed!<br/>{{ createErrorMessage }}</div>
      </div>
      <div class="alert alert-success"
           *ngIf="submitted && createWorkForm.valid && !isFailed">{{createResponseMessage}}</div>
    </div>
  </div>
</div>

<ng-template #CAR>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cars</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCar.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6 ">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" (click)="searchCarByAnyRequest()">Search</button>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="alert alert-danger" *ngIf="carErrorMessage">{{ carErrorMessage }}</div>
        <div class="alert alert-danger" *ngIf="carResponseMessage">{{ carResponseMessage }}</div>
      </div>
      <div class="table-alignment">
        <table class="table" *ngIf="cars.length > 0">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Series</th>
            <th scope="col">Manufacture years</th>
            <th scope="col">Engine displacement</th>
            <th scope="col">Engine type</th>
            <th scope="col">Engine power</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.seriesName}}</td>
            <td>{{car.manufactureYear}}</td>
            <td>{{car.engineDisplacement}}</td>
            <td>{{car.engineType}}</td>
            <td>{{car.enginePower}}</td>
            <td>
              <button class="btn btn-outline-secondary" (click)="selectCar(car)">Select</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CARSERVICE>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Car services</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCarService.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6 ">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" (click)="searchCarServiceByAnyRequest()">Search</button>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="alert alert-danger" *ngIf="carServiceErrorMessage">{{ carServiceErrorMessage }}</div>
        <div class="alert alert-danger" *ngIf="carServiceResponseMessage">{{ carServiceResponseMessage }}</div>
      </div>
      <div>
        <div class="table-alignment">
          <table class="table" *ngIf="carServices.length > 0">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Service name</th>
              <th scope="col">Address</th>
              <th scope="col">Work time</th>
              <th scope="col">Employees</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carService of carServices">
              <td>{{carService.id}}</td>
              <td>{{carService.serviceName}}</td>
              <td>
                <button type="button" class="btn btn-outline-secondary" (click)="openModalForAddress(address)">Address</button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-secondary" (click)="openModalForWorkTime(workTime)">Work time</button>
              </td>
              <ng-template #address>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Address: #ID:{{carService.id}}, {{carService.serviceName}}</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForAddress.hide()">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">Street name: {{carService.address.streetName}}</li>
                    <li class="list-group-item">Building number: {{carService.address.buildingNumber}}</li>
                    <li class="list-group-item">City: {{carService.address.city}}</li>
                    <li class="list-group-item">Country: {{carService.address.country}}</li>
                    <li class="list-group-item">Postcode: {{carService.address.postCode}}</li>
                  </ul>
                </div>
              </ng-template>
              <ng-template #workTime>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Work Time: #ID:{{carService.id}}, {{carService.serviceName}}</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForWorkTime.hide()">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">Monday: {{carService.workTime.monday}}</li>
                    <li class="list-group-item">Tuesday: {{carService.workTime.tuesday}}</li>
                    <li class="list-group-item">Wednesday: {{carService.workTime.wednesday}}</li>
                    <li class="list-group-item">Thursday: {{carService.workTime.thursday}}</li>
                    <li class="list-group-item">Friday: {{carService.workTime.friday}}</li>
                    <li class="list-group-item">Saturday: {{carService.workTime.saturday}}</li>
                    <li class="list-group-item">Sunday: {{carService.workTime.sunday}}</li>
                  </ul>
                </div>
              </ng-template>
              <td>{{carService.employeesNum}}</td>
              <td>
                <button class="btn btn-outline-secondary" (click)="selectCarService(carService)">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>








