<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="updateCarServiceForm.valid && submitted && !isFailed">
        <h3>Update Car service id: {{carService.id}}</h3>
        <form [formGroup]="updateCarServiceForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="address-content">
            <div class="form-group address-content-inner">
              <label>Service name: {{carService.serviceName}}</label>
              <input type="text" formControlName="serviceName" class="form-control" placeholder="Service name"
                     [ngClass]="{ 'is-invalid': f.serviceName.touched && f.serviceName.errors }"/>
              <div *ngIf="f.serviceName.errors" class="invalid-feedback">
              </div>
            </div>
            <div class="form-group">
              <label>Employees number: {{carService.employeesNum}}</label>
              <input type="text" formControlName="employeesNum" class="form-control" placeholder="Employees number"
                     [ngClass]="{ 'is-invalid': f.employeesNum.touched && f.employeesNum.errors }"/>
              <div *ngIf="f.employeesNum.errors" class="invalid-feedback">
                <div *ngIf="f.employeesNum.errors.pattern">Must be a number!</div>
              </div>
            </div>
          </div>
          <div class="address-content">
            <div class="form-group address-content-inner">
              <label>Street name: {{address.streetName}}</label>
              <input type="text" formControlName="streetName" class="form-control" placeholder="Street name"
                     [ngClass]="{ 'is-invalid': f.streetName.touched && f.streetName.errors }"/>
              <div *ngIf="f.streetName.errors" class="invalid-feedback">
                <div *ngIf="f.streetName.errors.pattern">Invalid street name format, must be 'street name' g. or pr. or pl.!</div>
              </div>
            </div>
            <div class="form-group">
              <label>Building number: {{address.buildingNumber}}</label>
              <input type="text" formControlName="buildingNumber" class="form-control" placeholder="Building number"
                     [ngClass]="{ 'is-invalid': f.buildingNumber.touched && f.buildingNumber.errors }"/>
              <div *ngIf="f.buildingNumber.errors" class="invalid-feedback">
                <div *ngIf="f.buildingNumber.errors.pattern">Invalid building number, must be a number or number and letter!</div>
              </div>
            </div>
          </div>
          <div class="address-content">
            <div class="form-group address-content-inner">
              <label>City: {{address.city}}</label>
              <input type="text" formControlName="city" class="form-control" placeholder="City"
                     [ngClass]="{ 'is-invalid': f.city.touched && f.city.errors }"/>
              <div *ngIf="f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.pattern">Invalid city name, must be plain text!</div>
              </div>
            </div>
            <div class="form-group address-content-inner">
              <label>Country : {{address.country}}</label>
              <input type="text" formControlName="country" class="form-control" placeholder="Country"
                     [ngClass]="{ 'is-invalid': f.country.touched && f.country.errors }"/>
              <div *ngIf="f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.pattern">Invalid country name, must be plain text!</div>
              </div>
            </div>
            <div class="form-group">
              <label>Postcode: {{address.postCode}}</label>
              <input type="number" formControlName="postCode" class="form-control" placeholder="Postcode"
                     [ngClass]="{ 'is-invalid': f.postCode.touched && f.postCode.errors }"/>
              <div *ngIf="f.postCode.errors" class="invalid-feedback">
                <div *ngIf="f.postCode.errors.minlength">Must be no less than 4 numbers!</div>
                <div *ngIf="f.postCode.errors.pattern">Must be a number!</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Work time</label>
            <div><button type="button" class="btn btn-outline-secondary" (click)="openModal(workTimes)">Open work time form</button></div>
          </div>
          <div class="form-group button-alignment">
            <div><button type="submit" class="btn btn-outline-secondary" [disabled]="updateCarServiceForm.invalid">Update</button></div>
            <div><button type="button" class="btn btn-outline-secondary" (click)="back()">Back</button></div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && errorMessage">Creating failed!<br />{{ errorMessage }}</div>
      </div>
      <div class="alert alert-success" *ngIf="submitted && updateCarServiceForm.valid && !isFailed">{{responseMessage}}</div>
    </div>
  </div>
</div>
<ng-template #workTimes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enter service work time:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item"><div class="time-picker-content">
        <div><label>Work time: Monday: {{workTime.monday}}</label></div>
        <div>
          <div class="time-picker">
            <div><p>Start</p></div>
            <div><timepicker [(ngModel)]="time.mondayStart" [showMeridian]="PM"></timepicker></div>
            <div><p>End</p></div>
            <div><timepicker [(ngModel)]="time.mondayEnd" [showMeridian]="PM"></timepicker></div>
          </div>
        </div>
      </div></li>
      <li class="list-group-item"><div class="time-picker-content">
        <div><label>Work time: Tuesday: {{workTime.tuesday}}</label></div>
        <div>
          <div class="time-picker">
            <div><p>Start</p></div>
            <div><timepicker [(ngModel)]="time.tuesdayStart" [showMeridian]="PM"></timepicker></div>
            <div><p>End</p></div>
            <div><timepicker [(ngModel)]="time.tuesdayEnd" [showMeridian]="PM"></timepicker></div>
          </div>
        </div>
      </div></li>
      <li class="list-group-item"><div class="time-picker-content">
        <div><label>Work time: Wednesday: {{workTime.wednesday}}</label></div>
        <div>
          <div class="time-picker">
            <div><p>Start</p></div>
            <div><timepicker [(ngModel)]="time.wednesdayStart" [showMeridian]="PM"></timepicker></div>
            <div><p>End</p></div>
            <div><timepicker [(ngModel)]="time.wednesdayEnd" [showMeridian]="PM"></timepicker></div>
          </div>
        </div>
      </div></li>
      <li class="list-group-item"><div class="time-picker-content">
        <div><label>Work time: Thursday: {{workTime.thursday}}</label></div>
        <div>
          <div class="time-picker">
            <div><p>Start</p></div>
            <div><timepicker [(ngModel)]="time.thursdayStart" [showMeridian]="PM"></timepicker></div>
            <div><p>End</p></div>
            <div><timepicker [(ngModel)]="time.thursdayEnd" [showMeridian]="PM"></timepicker></div>
          </div>
        </div>
      </div></li>
      <li class="list-group-item"><div class="time-picker-content">
        <div><label>Work time: Friday: {{workTime.friday}}</label></div>
        <div>
          <div class="time-picker">
            <div><p>Start</p></div>
            <div><timepicker [(ngModel)]="time.fridayStart" [showMeridian]="PM"></timepicker></div>
            <div><p>End</p></div>
            <div><timepicker [(ngModel)]="time.fridayEnd" [showMeridian]="PM"></timepicker></div>
          </div>
        </div>
      </div></li>
      <li class="list-group-item"><div class="time-picker-content">
        <div><label>Work time: Saturday: {{workTime.saturday}}</label></div>
        <div>
          <div class="time-picker">
            <div><p>Start</p></div>
            <div><timepicker [(ngModel)]="time.saturdayStart" [showMeridian]="PM"></timepicker></div>
            <div><p>End</p></div>
            <div><timepicker [(ngModel)]="time.saturdayEnd" [showMeridian]="PM"></timepicker></div>
          </div>
        </div>
      </div></li>
      <li class="list-group-item"><div class="time-picker-content">
        <div><label>Work time: Sunday: {{workTime.sunday}}</label></div>
        <div>
          <div class="time-picker">
            <div><p>Start</p></div>
            <div><timepicker [(ngModel)]="time.sundayStart" [showMeridian]="PM"></timepicker></div>
            <div><p>End</p></div>
            <div><timepicker [(ngModel)]="time.sundayEnd" [showMeridian]="PM"></timepicker></div>
          </div>
        </div>
      </div></li>
    </ul>
    <div class="form-group"></div>
    <div class="form-group"><button class="btn btn-outline-secondary" (click)="saveWorkTimePopover()">Save</button></div>
  </div>
</ng-template>













