<div class="content-alignment">
  <div class="jumbotron">
    <div >
      <div class="row">
        <div class="col-md-6 ">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary" (click)="searchByAnyRequest()">Search</button>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="alert alert-danger" *ngIf="responseMessage">{{ responseMessage }}</div>
  </div>

  <div class="table-alignment">
    <table class="table" *ngIf="cars.length > 0">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Brand</th>
        <th scope="col">Series</th>
        <th scope="col">Manufacture years</th>
        <th scope="col">Engine displacement</th>
        <th scope="col">Engine type</th>
        <th scope="col">Engine power</th>
        <th scope="col"></th>
        <th scope="col"><button type="button" class="btn btn-table-header" (click)="navigateToCarsCreate()">Create</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.seriesName}}</td>
        <td>{{car.manufactureYear}}</td>
        <td>{{car.engineDisplacement}}</td>
        <td>{{car.engineType}}</td>
        <td>{{car.enginePower}}</td>
        <td>
          <button class="btn btn-outline-secondary" mwlConfirmationPopover
                  [popoverTitle]="'Are you sure?'"
                  [popoverMessage]="'Do you want to update car entry by id: ' + car.id" placement="left"
                  [confirmText]="confirmText"
                  (confirm)="navigateToUpdateCar(car.id)">Update
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-secondary" (click)="openModal(delete)">Delete</button>
        </td>
        <ng-template #delete>
          <div class=" modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title pull-left">Are you sure?</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                Do you want to delete car entry by id: {{car.id}}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
                <button type="button" class="btn btn-outline-secondary" (click)="deleteCarEntry(car)">Delete</button>
              </div>
            </div>
          </div>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</div>
