<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="createCarServiceForm.valid && submitted && !isFailed">
        <h3>Create New Car service entry: </h3>
        <form [formGroup]="createCarServiceForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="address-content">
            <div class="form-group address-content-inner">
              <label>Service name</label>
              <input type="text" formControlName="serviceName" class="form-control" placeholder="Service name"
                     [ngClass]="{ 'is-invalid': f.serviceName.touched && f.serviceName.errors }"/>
              <div *ngIf="f.serviceName.errors" class="invalid-feedback">
                <div *ngIf="f.serviceName.touched && f.serviceName.errors.required">Service name is required!</div>
              </div>
            </div>
            <div class="form-group">
              <label>Employees number</label>
              <input type="text" formControlName="employeesNum" class="form-control" placeholder="Employees number"
                     [ngClass]="{ 'is-invalid': f.employeesNum.touched && f.employeesNum.errors }"/>
              <div *ngIf="f.employeesNum.errors" class="invalid-feedback">
                <div *ngIf="f.employeesNum.touched && f.employeesNum.errors.required">Employees number is required!</div>
                <div *ngIf="f.employeesNum.errors.pattern">Must be a number!</div>
              </div>
            </div>
          </div>
          <div class="address-content">
            <div class="form-group address-content-inner">
              <label>Street name</label>
              <input type="text" formControlName="streetName" class="form-control" placeholder="Street name"
                     [ngClass]="{ 'is-invalid': f.streetName.touched && f.streetName.errors }"/>
              <div *ngIf="f.streetName.errors" class="invalid-feedback">
                <div *ngIf="f.streetName.touched && f.streetName.errors.required">Street name is required!</div>
                <div *ngIf="f.streetName.errors.pattern">Invalid street name format, must be 'street name' g. or pr. or pl.!</div>
              </div>
            </div>
            <div class="form-group">
              <label>Building number</label>
              <input type="text" formControlName="buildingNumber" class="form-control" placeholder="Building number"
                     [ngClass]="{ 'is-invalid': f.buildingNumber.touched && f.buildingNumber.errors }"/>
              <div *ngIf="f.buildingNumber.errors" class="invalid-feedback">
                <div *ngIf="f.buildingNumber.touched && f.buildingNumber.errors.required">Building number is required!</div>
                <div *ngIf="f.buildingNumber.errors.pattern">Invalid building number, must be a number or number and letter!</div>
              </div>
            </div>
          </div>
          <div class="address-content">
            <div class="form-group address-content-inner">
              <label>City</label>
              <input type="text" formControlName="city" class="form-control" placeholder="City"
                     [ngClass]="{ 'is-invalid': f.city.touched && f.city.errors }"/>
              <div *ngIf="f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.touched && f.city.errors.required">City is required!</div>
                <div *ngIf="f.city.errors.pattern">Invalid city name, must be plain text!</div>
              </div>
            </div>
            <div class="form-group address-content-inner">
              <label>Country</label>
              <input type="text" formControlName="country" class="form-control" placeholder="Country"
                     [ngClass]="{ 'is-invalid': f.country.touched && f.country.errors }"/>
              <div *ngIf="f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.touched && f.country.errors.required">Country is required!</div>
                <div *ngIf="f.country.errors.pattern">Invalid country name, must be plain text!</div>
              </div>
            </div>
            <div class="form-group">
              <label>Postcode</label>
              <input type="number" formControlName="postCode" class="form-control" placeholder="Postcode"
                     [ngClass]="{ 'is-invalid': f.postCode.touched && f.postCode.errors }"/>
              <div *ngIf="f.postCode.errors" class="invalid-feedback">
                <div *ngIf="f.postCode.touched && f.postCode.errors.required">Postcode is required!</div>
                <div *ngIf="f.postCode.errors.minlength">Must be no less than 4 numbers!</div>
                <div *ngIf="f.postCode.errors.pattern">Must be a number!</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Work time</label>
            <div>
              <button type="button" class="btn btn-outline-secondary" (click)="openModal(workTime)">Open work time form</button>
            </div>
          </div>
          <div class="form-group button-alignment">
            <div><button type="submit" class="btn btn-outline-secondary" [disabled]="createCarServiceForm.invalid || !workTimeSaved">Create</button></div>
            <div><button type="button" class="btn btn-outline-secondary" (click)="back()">Back</button></div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && errorMessage">Creating failed!<br/>{{ errorMessage }}</div>
        <div class="alert alert-danger"
             *ngIf="!workTimeSaved && workTimeSavedResponse !== '' ">{{ workTimeSavedResponse }}</div>
      </div>
      <div class="alert alert-success" *ngIf="submitted && createCarServiceForm.valid && !isFailed">{{responseMessage}}</div>
    </div>
  </div>
</div>

<ng-template #workTime>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enter service work time:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="time-picker-content">
          <div><label>Work time: Monday</label></div>
          <div>
            <div class="time-picker">
              <div><p>Start</p></div>
              <div>
                <timepicker [(ngModel)]="time.mondayStart" [showMeridian]="PM"></timepicker>
              </div>
              <div><p>End</p></div>
              <div>
                <timepicker [(ngModel)]="time.mondayEnd" [showMeridian]="PM"></timepicker>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="time-picker-content">
          <div><label>Work time: Tuesday</label></div>
          <div>
            <div class="time-picker">
              <div><p>Start</p></div>
              <div>
                <timepicker [(ngModel)]="time.tuesdayStart" [showMeridian]="PM"></timepicker>
              </div>
              <div><p>End</p></div>
              <div>
                <timepicker [(ngModel)]="time.tuesdayEnd" [showMeridian]="PM"></timepicker>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="time-picker-content">
          <div><label>Work time: Wednesday</label></div>
          <div>
            <div class="time-picker">
              <div><p>Start</p></div>
              <div>
                <timepicker [(ngModel)]="time.wednesdayStart" [showMeridian]="PM"></timepicker>
              </div>
              <div><p>End</p></div>
              <div>
                <timepicker [(ngModel)]="time.wednesdayEnd" [showMeridian]="PM"></timepicker>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="time-picker-content">
          <div><label>Work time: Thursday</label></div>
          <div>
            <div class="time-picker">
              <div><p>Start</p></div>
              <div>
                <timepicker [(ngModel)]="time.thursdayStart" [showMeridian]="PM"></timepicker>
              </div>
              <div><p>End</p></div>
              <div>
                <timepicker [(ngModel)]="time.thursdayEnd" [showMeridian]="PM"></timepicker>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="time-picker-content">
          <div><label>Work time: Friday</label></div>
          <div>
            <div class="time-picker">
              <div><p>Start</p></div>
              <div>
                <timepicker [(ngModel)]="time.fridayStart" [showMeridian]="PM"></timepicker>
              </div>
              <div><p>End</p></div>
              <div>
                <timepicker [(ngModel)]="time.fridayEnd" [showMeridian]="PM"></timepicker>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="time-picker-content">
          <div><label>Work time: Saturday</label></div>
          <div>
            <div class="time-picker">
              <div><p>Start</p></div>
              <div>
                <timepicker [(ngModel)]="time.saturdayStart" [showMeridian]="PM"></timepicker>
              </div>
              <div><p>End</p></div>
              <div>
                <timepicker [(ngModel)]="time.saturdayEnd" [showMeridian]="PM"></timepicker>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="time-picker-content">
          <div><label>Work time: Sunday</label></div>
          <div>
            <div class="time-picker">
              <div><p>Start</p></div>
              <div>
                <timepicker [(ngModel)]="time.sundayStart" [showMeridian]="PM"></timepicker>
              </div>
              <div><p>End</p></div>
              <div>
                <timepicker [(ngModel)]="time.sundayEnd" [showMeridian]="PM"></timepicker>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-group"></div>
    <div class="form-group">
      <button class="btn btn-outline-secondary" (click)="saveWorkTimePopover()">Save</button>
    </div>
    <div class="alert alert-danger" *ngIf="!workTimeSaved && workTimeSavedResponse != ''">
      <div>{{ workTimeSavedResponse }}</div>
    </div>
  </div>
</ng-template>













