.btn-outline-secondary:hover {
  background-color: #343a40;
  color: white;
}

.btn-outline-secondary {
  color: black;
  margin-right: 5%;
}

.button-alignment {
  display: flex !important;
  justify-content:space-between !important;
  align-items:center !important;
}

.time-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-picker-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.address-content {
  justify-content:space-between;
  display: flex;
  flex-direction:row;
}

.address-content-inner {
  margin-right: 20px !important;
}
