<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="createCarForm.valid && submitted && !isFailed">
        <h3>Create New Car entry in the database</h3>
        <form [formGroup]="createCarForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="form-group">
            <label>Brand name</label>
            <input type="text" formControlName="brandName" class="form-control" placeholder="Brand name"
                   [ngClass]="{ 'is-invalid': f.brandName.touched && f.brandName.errors }"/>
            <div *ngIf="f.brandName.errors" class="invalid-feedback">
              <div *ngIf="f.brandName.touched && f.brandName.errors.required">Brand name is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Series name</label>
            <input type="text" formControlName="seriesName" class="form-control" placeholder="Series name"
                   [ngClass]="{ 'is-invalid': f.seriesName.touched && f.seriesName.errors }"/>
            <div *ngIf="f.seriesName.errors" class="invalid-feedback">
              <div *ngIf="f.seriesName.touched && f.seriesName.errors.required">Series name is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Manufacture years</label>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input type="text"
                       class="form-control"
                       formControlName="manufactureYear"
                       placeholder="Manufacture years"
                       [ngClass]="{ 'is-invalid': f.manufactureYear.touched && !selectedDate }"
                       [bsConfig]="{dateInputFormat: 'YYYY-MM', isAnimated: true}"
                       [bsConfig]="bsConfig"
                       #dp="bsDatepicker"
                       bsDatepicker [(ngModel)]="selectedDate"/>
                <div *ngIf="f.manufactureYear.touched && !selectedDate"class="invalid-feedback">
                  Manufacture years are required!</div>
              </div>
              <div class="col-xs-12 col-12 col-md-3 form-group">
                <button class="btn btn-success" (click)="dp.toggle()" type="button">Date</button></div>
            </div>
          </div>
          <div class="form-group">
            <label>Engine displacement</label>
            <input type="text" formControlName="engineDisplacement" class="form-control" placeholder="Engine displacement"
                   [ngClass]="{ 'is-invalid': f.engineDisplacement.touched && f.engineDisplacement.errors }"/>
            <div *ngIf="f.engineDisplacement.errors" class="invalid-feedback">
              <div *ngIf="f.engineDisplacement.touched && f.engineDisplacement.errors.required">Engine displacement is required!</div>
              <div *ngIf="f.engineDisplacement.errors.pattern">Invalid displacement format, must be for example 2.0 or 1.9 in/m3!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Engine type</label>
            <input type="text" formControlName="engineType" class="form-control" placeholder="Engine type"
                   [ngClass]="{ 'is-invalid': f.engineType.touched && f.engineType.errors }"/>
            <div *ngIf="f.engineType.errors" class="invalid-feedback">
              <div *ngIf="f.engineType.touched && f.engineType.errors.required">Engine type is required!</div>
              <div *ngIf="f.engineType.errors.pattern">Invalid engine type, must be one of diesel or gasoline or electric or gas!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Engine power</label>
            <input type="text" formControlName="enginePower" class="form-control" placeholder="Engine power"
                   [ngClass]="{ 'is-invalid': f.enginePower.touched && f.enginePower.errors }"/>
            <div *ngIf="f.enginePower.errors" class="invalid-feedback">
              <div *ngIf="f.enginePower.touched && f.enginePower.errors.required">Engine power is required!</div>
              <div *ngIf="f.enginePower.errors.maxlength">Engine power must contain no more than 4 numbers!</div>
              <div *ngIf="f.enginePower.errors.pattern">Engine power must be a number!</div>
            </div>
          </div>
          <div class="form-group button-alignment">
            <div><button type="submit" class="btn btn-outline-secondary" [disabled]="createCarForm.invalid">Create</button></div>
            <div><button type="button" class="btn btn-outline-secondary" (click)="back()">Back</button></div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && errorMessage">Creating failed!<br />{{ errorMessage }}</div>
      </div>
      <div class="alert alert-success" *ngIf="submitted && createCarForm.valid && !isFailed">{{responseMessage}}</div>
    </div>
  </div>
</div>

