.btn-outline-secondary:hover {
  background-color: #343a40;
  color: white;
}

.btn-outline-secondary {
  color: black;
  margin-right: 5%;
}

.button-alignment {
  display: flex !important;
  justify-content:space-between !important;
  align-items:center !important;
}

.detail-content {
  justify-content:space-between;
  display: flex;
  flex-direction:row;
}

.detail-content-inner {
  margin-right: 20px !important;
}



