<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="createDetailForm.valid && submitted && !isFailed">
        <h3>Create New Detail entry:</h3>
        <form [formGroup]="createDetailForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="form-group">
            <label>Detail type</label>
            <input type="text" formControlName="detailType" class="form-control" placeholder="Detail type"
                   [ngClass]="{ 'is-invalid': f.detailType.touched && f.detailType.errors }"/>
            <div *ngIf="f.detailType.errors" class="invalid-feedback">
              <div *ngIf="f.detailType.touched && f.detailType.errors.required">Detail type is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Detail name</label>
            <input type="text" formControlName="detailName" class="form-control" placeholder="Detail name"
                   [ngClass]="{ 'is-invalid': f.detailName.touched && f.detailName.errors }"/>
            <div *ngIf="f.detailName.errors" class="invalid-feedback">
              <div *ngIf="f.detailName.touched && f.detailName.errors.required">Detail name is required!</div>
            </div>
          </div>
          <div class="detail-content">
            <div class="form-group detail-content-inner">
              <label>Detail price</label>
              <input type="text" formControlName="price" class="form-control" placeholder="Detail price"
                     [ngClass]="{ 'is-invalid': f.price.touched && f.price.errors }"/>
              <div *ngIf="f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.touched && f.price.errors.required">Detail price is required!</div>
                <div *ngIf="f.price.errors.pattern">Invalid number format, must be double 0.00!</div>
              </div>
            </div>
            <div class="form-group">
              <label>Origin country</label>
              <input type="text" formControlName="originCountry" class="form-control" placeholder="Origin country"
                     [ngClass]="{ 'is-invalid': f.originCountry.touched && f.originCountry.errors }"/>
              <div *ngIf="f.originCountry.errors" class="invalid-feedback">
                <div *ngIf="f.originCountry.touched && f.originCountry.errors.required">Origin country is required!</div>
                <div *ngIf="f.originCountry.errors.pattern">Invalid country name, must be plain text!</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Select Car</label>
            <div>
              <button type="button" class="btn btn-outline-secondary" (click)="openModal(carsTemplate)">Show cars
              </button>
            </div>
          </div>
          <div class="form-group button-alignment">
            <div>
              <button type="submit" class="btn btn-outline-secondary"
                      [disabled]="createDetailForm.invalid || selectedCar == undefined ">Create
              </button>
            </div>
            <div>
              <button class="btn btn-outline-secondary" (click)="back()">Back</button>
            </div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && createErrorMessage">Creating
          failed!<br/>{{ createErrorMessage }}</div>
      </div>
      <div class="alert alert-success"
           *ngIf="submitted && createDetailForm.valid && !isFailed">{{createResponseMessage}}</div>
    </div>
  </div>
</div>

<ng-template #carsTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cars</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6 ">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" (click)="searchCarByAnyRequest()">Search</button>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="alert alert-danger" *ngIf="carErrorMessage">{{ carErrorMessage }}</div>
        <div class="alert alert-danger" *ngIf="carResponseMessage">{{ carResponseMessage }}</div>
      </div>
      <div class="table-alignment">
        <table class="table" *ngIf="cars.length > 0">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Series</th>
            <th scope="col">Manufacture years</th>
            <th scope="col">Engine displacement</th>
            <th scope="col">Engine type</th>
            <th scope="col">Engine power</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.seriesName}}</td>
            <td>{{car.manufactureYear}}</td>
            <td>{{car.engineDisplacement}}</td>
            <td>{{car.engineType}}</td>
            <td>{{car.enginePower}}</td>
            <td>
              <button class="btn btn-outline-secondary" (click)="selectCar(car)">Select</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>



