<header>
  <nav class="navbar navbar-expand-lg navbar-dark black fixed-top d-flex justify-content-between header-container ">
    <div class="d-flex ">
      <ul class="navbar-nav nav-bar-content">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/home']"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11 16v-3h1.247c.882 0 1.235.297 1.828.909.452.465 1.925 2.091 1.925 2.091h-5zm-1-3h-2.243c-.688 0-1.051.222-1.377.581-.316.348-.895.948-1.506 1.671 1.719.644 4.055.748 5.126.748v-3zm14 5.161c0-2.823-2.03-3.41-2.794-3.631-1.142-.331-1.654-.475-3.031-.794-.549-.545-2.051-2.035-2.389-2.375l-.089-.091c-.666-.68-1.421-1.27-3.172-1.27h-7.64c-.547 0-.791.456-.254.944-.534.462-1.945 1.705-2.341 2.107-1.383 1.403-2.29 2.481-2.29 4.604 0 2.461 1.361 4.258 3.179 4.332.41 1.169 1.512 2.013 2.821 2.013 1.304 0 2.403-.838 2.816-2h6.367c.413 1.162 1.512 2 2.816 2 1.308 0 2.409-.843 2.82-2.01 1.934-.056 3.181-1.505 3.181-3.829zm-18 4.039c-.662 0-1.2-.538-1.2-1.2s.538-1.2 1.2-1.2 1.2.538 1.2 1.2-.538 1.2-1.2 1.2zm12 0c-.662 0-1.2-.538-1.2-1.2s.538-1.2 1.2-1.2 1.2.538 1.2 1.2-.538 1.2-1.2 1.2zm2.832-2.15c-.399-1.188-1.509-2.05-2.832-2.05-1.327 0-2.44.868-2.836 2.062h-6.328c-.396-1.194-1.509-2.062-2.836-2.062-1.319 0-2.426.857-2.829 2.04-.586-.114-1.171-1.037-1.171-2.385 0-1.335.47-1.938 1.714-3.199.725-.735 1.309-1.209 2.263-2.025.34-.291.774-.432 1.222-.43h5.173c1.22 0 1.577.385 2.116.892.419.393 2.682 2.665 2.682 2.665s2.303.554 3.48.895c.84.243 1.35.479 1.35 1.71 0 1.195-.396 1.825-1.168 1.887zm-11.05-15.345c0 .477-.215.833-.589.833-.371 0-.597-.338-.597-.819 0-.476.218-.833.593-.833.382.001.593.379.593.819zm2.572 2.68c-.315 2.084-3.109 1.998-3.758.615-.847 1.575-3.412 1.154-3.622-.664-1.126-.227-1.974-1.221-1.974-2.413s.848-2.186 1.974-2.413l-.005-.049c0-1.359 1.102-2.461 2.462-2.461.986 0 1.831.584 2.224 1.421 1.114-1.083 3.022-.421 3.135 1.085 1.15.207 2.025 1.208 2.025 2.418 0 1.358-1.102 2.461-2.461 2.461zm-5.818-2.669c0-.546.342-.811.782-.811.196 0 .353.044.466.091l.113-.44c-.099-.051-.317-.11-.604-.11-.742 0-1.339.466-1.339 1.302 0 .699.436 1.226 1.284 1.226.298 0 .527-.055.629-.106l-.083-.432c-.109.044-.295.08-.462.08-.495 0-.786-.309-.786-.8zm3.832-.029c0-.677-.411-1.241-1.164-1.241-.724 0-1.193.55-1.193 1.284 0 .698.426 1.248 1.153 1.248.716 0 1.204-.487 1.204-1.291zm1.494 1.394h-.625s.595-.435.595-.848c0-.301-.206-.521-.582-.521-.225 0-.419.077-.544.171l.11.278c.087-.066.212-.138.355-.138.192 0 .273.107.273.243-.006.243-.285.471-.758.899v.235h1.177v-.319zm-8.862 1.919c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1zm-1.706 2.621c-.414 0-.75.336-.75.75s.336.75.75.75.75-.336.75-.75-.336-.75-.75-.75zm-.794 2.379c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5z"/></svg>
          <title>CarFix</title></a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-bar-content" *ngIf="isLoggedIn">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/failures']">Failures</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/registrations']">Registrations</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex " *ngIf="showBurger">
      <ul class="navbar-nav right-container" *ngIf="!isLoggedIn">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link " [routerLink]="['/signIn']">Login</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link " [routerLink]="['/registration']">Sign Up</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link " [routerLink]="['/profile']">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M20 21.193l-.003.807h-19.993l-.004-.833c-.009-2.224.088-3.495 2.647-4.086 2.805-.647 5.573-1.227 4.242-3.682-3.943-7.275-1.123-11.399 3.111-11.399 4.153 0 7.043 3.971 3.11 11.398-1.292 2.44 1.375 3.02 4.242 3.682 2.57.594 2.657 1.873 2.648 4.113zm4-17.193h-7v2h7v-2zm0 4h-7v2h7v-2zm0 4h-7v2h7v-2z"/>
              <title>{{profile}}</title></svg>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link " [routerLink]="['/user_cars']">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M7 13.5c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5.672 1.5 1.5 1.5 1.5-.672 1.5-1.5zm9 1c0-.276-.224-.5-.5-.5h-7c-.276 0-.5.224-.5.5s.224.5.5.5h7c.276 0 .5-.224.5-.5zm4-1c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5.672 1.5 1.5 1.5 1.5-.672 1.5-1.5zm-17.298-6.5h-2.202c-.276 0-.5.224-.5.5v.511c0 .793.926.989 1.616.989l1.086-2zm19.318 3.168c-.761-1.413-1.699-3.17-2.684-4.812-.786-1.312-1.37-1.938-2.751-2.187-1.395-.25-2.681-.347-4.585-.347s-3.19.097-4.585.347c-1.381.248-1.965.875-2.751 2.187-.981 1.637-1.913 3.382-2.684 4.812-.687 1.273-.98 2.412-.98 3.806 0 1.318.42 2.415 1 3.817v2.209c0 .552.448 1 1 1h1.5c.552 0 1-.448 1-1v-1h13v1c0 .552.448 1 1 1h1.5c.552 0 1-.448 1-1v-2.209c.58-1.403 1-2.499 1-3.817 0-1.394-.293-2.533-.98-3.806zm-15.641-3.784c.67-1.117.852-1.149 1.39-1.246 1.268-.227 2.455-.316 4.231-.316s2.963.088 4.231.316c.538.097.72.129 1.39 1.246.408.681.81 1.388 1.195 2.081-1.456.22-4.02.535-6.816.535-3.048 0-5.517-.336-6.805-.555.382-.686.779-1.386 1.184-2.061zm11.595 10.616h-11.948c-1.671 0-3.026-1.354-3.026-3.026 0-1.641.506-2.421 1.184-3.678 1.041.205 3.967.704 7.816.704 3.481 0 6.561-.455 7.834-.672.664 1.231 1.166 2.01 1.166 3.646 0 1.672-1.355 3.026-3.026 3.026zm5.526-10c.276 0 .5.224.5.5v.511c0 .793-.926.989-1.616.989l-1.086-2h2.202z"/>
              <title>{{profile}} cars</title></svg>
          </a>
        </li>
        <ul class="navbar-nav right-container" *ngIf="isLoggedIn && showAdminBoard || showModeratorBoard">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" style="cursor: pointer" (click)="openNav()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M24 14.187v-4.374c-2.148-.766-2.726-.802-3.027-1.529-.303-.729.083-1.169 1.059-3.223l-3.093-3.093c-2.026.963-2.488 1.364-3.224 1.059-.727-.302-.768-.889-1.527-3.027h-4.375c-.764 2.144-.8 2.725-1.529 3.027-.752.313-1.203-.1-3.223-1.059l-3.093 3.093c.977 2.055 1.362 2.493 1.059 3.224-.302.727-.881.764-3.027 1.528v4.375c2.139.76 2.725.8 3.027 1.528.304.734-.081 1.167-1.059 3.223l3.093 3.093c1.999-.95 2.47-1.373 3.223-1.059.728.302.764.88 1.529 3.027h4.374c.758-2.131.799-2.723 1.537-3.031.745-.308 1.186.099 3.215 1.062l3.093-3.093c-.975-2.05-1.362-2.492-1.059-3.223.3-.726.88-.763 3.027-1.528zm-4.875.764c-.577 1.394-.068 2.458.488 3.578l-1.084 1.084c-1.093-.543-2.161-1.076-3.573-.49-1.396.581-1.79 1.693-2.188 2.877h-1.534c-.398-1.185-.791-2.297-2.183-2.875-1.419-.588-2.507-.045-3.579.488l-1.083-1.084c.557-1.118 1.066-2.18.487-3.58-.579-1.391-1.691-1.784-2.876-2.182v-1.533c1.185-.398 2.297-.791 2.875-2.184.578-1.394.068-2.459-.488-3.579l1.084-1.084c1.082.538 2.162 1.077 3.58.488 1.392-.577 1.785-1.69 2.183-2.875h1.534c.398 1.185.792 2.297 2.184 2.875 1.419.588 2.506.045 3.579-.488l1.084 1.084c-.556 1.121-1.065 2.187-.488 3.58.577 1.391 1.689 1.784 2.875 2.183v1.534c-1.188.398-2.302.791-2.877 2.183zm-7.125-5.951c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3zm0-2c-2.762 0-5 2.238-5 5s2.238 5 5 5 5-2.238 5-5-2.238-5-5-5z"/>
                <title>Management</title></svg>
            </a>
          </li>
        </ul>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" style="cursor: pointer" (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M16 10v-5l8 7-8 7v-5h-8v-4h8zm-16-8v20h14v-2h-12v-16h12v-2h-14z"/>
              <title>Log out</title></svg>
          </a>
        </li>
      </ul>
    </div>
    <button (click)="toogleShowLinksInBurger()" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
      </svg>
    </button>
  </nav>
  <div id="mySidenav" class="sidenav ">
    <div  *ngIf="showAdminBoard || showModeratorBoard">
      <div class="closebtn">
        <svg (click)="closeNav()" style="cursor: pointer" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
             fill-rule="evenodd" clip-rule="evenodd">
          <path
            d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/>
        </svg>
      </div>
      <div class="sidenav-position">
        <div class="nav-item" [ngClass]="{'active': showCars}">
          <a class="nav-link"  (click)="enableShowCar()">Cars</a>
        </div>
        <div *ngIf="showCars">
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showCarCreate}">
            <a class="nav-link" (click)="enableCarCreate()" [routerLink]="['/cars/create']">Create</a>
          </div>
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showCarAll}">
            <a class="nav-link" (click)="enableCarAll()" [routerLink]="['/cars']">Show all</a>
          </div>
        </div>
        <div class="nav-item" [ngClass]="{'active': showCarService}">
          <a class="nav-link" (click)="enableShowCarService()">Car services</a>
        </div>
        <div *ngIf="showCarService">
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showCarServiceCreate}">
            <a class="nav-link" (click)="enableCarServiceCreate()" [routerLink]="['/carService/create']">Create</a>
          </div>
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showCarServiceAll}">
            <a class="nav-link" (click)="enableCarServiceAll()" [routerLink]="['/carServices']">Show all</a>
          </div>
        </div>
        <div class="nav-item" [ngClass]="{'active': showDetails}">
          <a class="nav-link" (click)="enableShowDetails()">Details</a>
        </div>
        <div *ngIf="showDetails">
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showDetailsCreate}">
            <a class="nav-link" (click)="enableDetailCreate()" [routerLink]="['/detail/create']">Create</a>
          </div>
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showDetailsAll}">
            <a class="nav-link" (click)="enableDetailAll()" [routerLink]="['/details']">Show all</a>
          </div>
        </div>
        <div class="nav-item" [ngClass]="{'active': showSchedules}">
          <a class="nav-link" (click)="enableShowSchedules()">Schedules</a>
        </div>
        <div *ngIf="showSchedules">
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showSchedulesCreate}">
            <a class="nav-link" (click)="enableSchedulesCreate()" [routerLink]="['/schedule/create']">Create</a>
          </div>
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showSchedulesAll}">
            <a class="nav-link" (click)="enableSchedulesAll()" [routerLink]="['/schedules']">Show all</a>
          </div>
        </div>
        <div class="nav-item" [ngClass]="{'active': showWorks}">
          <a class="nav-link" (click)="enableShowWorks()">Works</a>
        </div>
        <div *ngIf="showWorks">
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showWorksCreate}">
            <a class="nav-link" (click)="enableWorksCreate()" [routerLink]="['/work/create']">Create</a>
          </div>
          <div class="nav-item sidenav-text" [ngClass]="{'sidenav-text-active': showSchedulesAll}">
            <a class="nav-link" (click)="enableWorksAll()" [routerLink]="['/works']">Show all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

