.nav-item > a {
  color: white;
  font-size: 16px;
  margin-left: 10px
}

.nav-item {
  cursor: pointer;
}


.nav-item.active > a {
  color: mediumspringgreen;
  transition: all 0.7s ease;
  font-size: 18px;
}

.nav-item:hover > a {
  color: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}

.black {
  background-color: black
}

svg {
  fill: white;
}

svg:hover {
  fill: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}

a:hover{
  fill: mediumspringgreen;
}


.sidenav-position {
  margin-top: 16%;
  margin-left: 20%;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 18px;
  background-color: black;
  overflow-x: hidden;
  transition: all 0.8s ease;
  padding-top: 60px;
}

.closebtn {
  position: absolute;
  margin-top: 32%;
  top: 0;
  fill: mediumspringgreen;
  right: 25px;
  margin-left: 50px;
}

.sidenav-text > .nav-link {
  padding-left: 11%;
  padding-top: 1%;
  font-size: 13px;
}

.sidenav-text-active > .nav-link {
  color: mediumspringgreen;
  transition: all 0.7s ease;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
