<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Sign in</h3>
        <form [formGroup]="loginForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Username"
                   [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }"/>
            <div *ngIf="f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.touched && f.username.errors.required">Username is required!</div>
              <div *ngIf="f.username.errors.minlength">Username must be at least 3 characters!</div>
              <div *ngIf="f.username.errors.maxlength">Username must contain no more than 20 symbols!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password"
                   [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }"/>
            <div *ngIf="f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.touched && f.password.errors.required">Password is required!</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters!</div>
            </div>
          </div>
          <div class="form-group" >
              <button type="submit" class="btn btn-black">Login</button>
              <button style="margin-left: 0.5%" type="button" class="btn btn-black" (click)="navigateToRegisterPage()">Register</button>
          </div>
        </form>
        <div class="alert alert-danger" *ngIf="!loggedIn && errorMessage">Signup failed!<br/>{{ errorMessage }}</div>
        <div class="alert alert-success" *ngIf="loggedIn">Sign in is successful!<br/>Logged in
          as {{ userName }}.
        </div>
      </div>
    </div>
  </div>
</div>
