<div class="content-alignment">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 ">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary" (click)="searchByAnyRequest()">Search</button>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="alert alert-danger" *ngIf="detailsErrorMessage">{{ detailsErrorMessage }}</div>
    <div class="alert alert-danger" *ngIf="carErrorMessage">{{ carErrorMessage }}</div>
    <div class="alert alert-danger" *ngIf="detailsResponseMessage">{{ detailsResponseMessage }}</div>
  </div>
  <div>
    <div class="table-alignment">
      <table class="table" *ngIf="details != []">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Detail type</th>
          <th scope="col">Detail name</th>
          <th scope="col">Price</th>
          <th scope="col">Origin country</th>
          <th scope="col">Car</th>
          <th scope="col"></th>
          <th scope="col">
            <button type="button" class="btn btn-table-header" (click)="navigateToDetailCreate()">Create</button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detail of details">
          <td>{{detail.id}}</td>
          <td>{{detail.detailType}}</td>
          <td>{{detail.detailName}}</td>
          <td>{{detail.price}}</td>
          <td>{{detail.originCountry}}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary" (click)="openModal(carTemplate, detail.car.id)">Show Car</button>
          </td>
          <td>
            <button class="btn btn-outline-secondary" mwlConfirmationPopover
                    [popoverTitle]="'Are you sure?'"
                    [popoverMessage]="'Do you want to update detail entry by id: ' + detail.id" placement="left"
                    [confirmText]="confirmText"
                    (confirm)="navigateToUpdateDetail(detail.id)">Update
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-secondary" (click)="openModalForDelete(delete)">Delete</button>
          </td>
          <ng-template #delete>
            <div class=" modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Are you sure?</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDelete.hide()">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  Do you want to delete detail entry by id: {{detail.id}}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRefForDelete.hide()">Close</button>
                  <button type="button" class="btn btn-outline-secondary" (click)="deleteDetailEntry(detail)">Delete</button>
                </div>
              </div>
            </div>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #carTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Car: ID:{{car.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Brand name: {{car.brandName}}</li>
      <li class="list-group-item">Series name: {{car.seriesName}}</li>
      <li class="list-group-item">Manufacture year: {{car.manufactureYear}}</li>
      <li class="list-group-item">Engine displacement: {{car.engineDisplacement}} l/m3</li>
      <li class="list-group-item">Engine type: {{car.engineType}}</li>
      <li class="list-group-item">Engine Power: {{car.enginePower}} kW</li>
    </ul>
  </div>
</ng-template>
