<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="createFailureForm.valid && submitted && !isFailed">
        <h3>Create New Failure entry:</h3>
        <form [formGroup]="createFailureForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="form-group">
            <label>Failure location</label>
            <input type="text" formControlName="failureLocation" class="form-control" placeholder="Failure location"
                   [ngClass]="{ 'is-invalid': f.failureLocation.touched && f.failureLocation.errors }"/>
            <div *ngIf="f.failureLocation.errors" class="invalid-feedback">
              <div *ngIf="f.failureLocation.touched && f.failureLocation.errors.required">Failure location is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Failure type</label>
            <input type="text" formControlName="failureType" class="form-control" placeholder="Failure type"
                   [ngClass]="{ 'is-invalid': f.failureType.touched && f.failureType.errors }"/>
            <div *ngIf="f.failureType.errors" class="invalid-feedback">
              <div *ngIf="f.failureType.touched && f.failureType.errors.required">Failure type is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Failure description</label>
            <textarea aria-label="With textarea" type="text" formControlName="failureDescription" class="form-control" placeholder="Failure description"
                      [ngClass]="{ 'is-invalid': f.failureDescription.touched && f.failureDescription.errors }"></textarea>
            <div *ngIf="f.failureDescription.errors" class="invalid-feedback">
              <div *ngIf="f.failureDescription.touched && f.failureDescription.errors.required">Failure description is required!</div>
              <div *ngIf="f.failureDescription.errors.maxlength">Failure description must contain no more than 10 000 letters!</div>
            </div>
          </div>
          <div class="form-group" *ngIf="showAdminBoard || showModeratorBoard">
            <label>Select User</label>
            <div><button type="button" class="btn btn-outline-secondary" (click)="openModal(usersTemplate)">Show users</button></div>
          </div>
          <div class="form-group button-alignment" *ngIf="showModeratorBoard || showAdminBoard">
            <div><button type="submit" class="btn btn-outline-secondary"
                         [disabled]=" createFailureForm.invalid || !userIsSelected ">Create</button></div>
            <div><button class="btn btn-outline-secondary" (click)="back()">Back</button></div>
          </div>
          <div class="form-group button-alignment" *ngIf="showUserBoard">
            <div><button type="submit" class="btn btn-outline-secondary"
                         [disabled]=" createFailureForm.invalid ">Create</button></div>
            <div><button class="btn btn-outline-secondary" (click)="back()">Back</button></div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && createErrorMessage">Creating
          failed!<br/>{{ createErrorMessage }}</div>
      </div>
      <div class="alert alert-success"
           *ngIf="submitted && createFailureForm.valid && !isFailed">{{createResponseMessage}}</div>
    </div>
  </div>
</div>

<ng-template #usersTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Users</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6 ">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" (click)="searchUserByAnyRequest()">Search</button>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="alert alert-danger" *ngIf="userErrorMessage">{{ userErrorMessage }}</div>
        <div class="alert alert-danger" *ngIf="userResponseMessage">{{ userResponseMessage }}</div>
      </div>
      <div class="table-alignment">
        <table class="table" *ngIf="users.length > 0">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Username</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.username}}</td>
            <td><button class="btn btn-outline-secondary" (click)="selectUser(user)">Select</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>



