<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="updateFailureForm.valid && submitted && !isFailed">
        <div class="button-alignment">
          <div><h3>Update Failure entry:</h3></div>
          <div><button type="button" class="btn btn-outline-secondary" style="width: 100%" (click)="openModal(failureDescription)">Current failures</button></div>
        </div>
        <form [formGroup]="updateFailureForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="form-group">
            <label>Failure location</label>
            <input type="text" formControlName="failureLocation" class="form-control" placeholder="Failure location"
                   [ngClass]="{ 'is-invalid': f.failureLocation.touched && f.failureLocation.errors }"/>
            <div *ngIf="f.failureLocation.errors" class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Failure type</label>
            <input type="text" formControlName="failureType" class="form-control" placeholder="Failure type"
                   [ngClass]="{ 'is-invalid': f.failureType.touched && f.failureType.errors }"/>
            <div *ngIf="f.failureType.errors" class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Failure description</label>
            <textarea aria-label="With textarea" type="text" formControlName="failureDescription" class="form-control" placeholder="Failure description"
                      [ngClass]="{ 'is-invalid': f.failureDescription.touched && f.failureDescription.errors }"></textarea>
            <div *ngIf="f.failureDescription.errors" class="invalid-feedback">
              <div *ngIf="f.failureDescription.errors.maxlength">Failure description must contain no more than 10 000 letters!</div>
            </div>
          </div>
          <div class="form-group button-alignment">
            <div><button type="submit" class="btn btn-outline-secondary" [disabled]="updateFailureForm.invalid">Update</button></div>
            <div><button class="btn btn-outline-secondary" (click)="back()">Back</button></div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && updateErrorMessage">Creating
          failed!<br/>{{ updateErrorMessage }}</div>
      </div>
      <div class="alert alert-success"
           *ngIf="submitted && updateFailureForm.valid && !isFailed">{{updateResponseMessage}}</div>
    </div>
  </div>
</div>

<ng-template #failureDescription>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Failure: </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Failure type: {{failure.failureType}}</li>
      <li class="list-group-item">Failure location: {{failure.failureLocation}}</li>
      <li class="list-group-item">Failure description: {{failure.failureDescription}}</li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalUser(USER)">User info</button></li>
    </ul>
  </div>
</ng-template>
<ng-template #USER>
  <div class="modal-header">
    <h4 class="modal-title pull-left">User info: </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefUser.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Username: {{user.username}}</li>
      <li class="list-group-item">Firstname: {{user.firstname}}</li>
      <li class="list-group-item">Lastname: {{user.lastname}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Phone number: {{user.phoneNumber}}</li>
    </ul>
  </div>
</ng-template>



