.btn-outline-secondary:hover {
  background-color: #343a40;
  color: white;
}

.jumbotron {
  padding-top: 10%;
  padding-bottom: 0;
}

.btn-outline-secondary {
  color: black;
  margin-right: 5%;
}

.btn-table-header {
  color: black;
  background-color: white;
  margin-right: 5%;
}

.btn-table-header:hover {
  background-color: #343a40;
  color: white;
}

.content-alignment {
  margin-left: 15%;
  margin-right: 15%;
}

.button-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-alignment {
  display: flex;
  margin-top: 5%;
}



