<div class="content-alignment">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 ">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary" (click)="searchByAnyRequest()">Search</button>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="alert alert-danger" *ngIf="responseMessage">{{ responseMessage }}</div>
  </div>
  <div>
    <div class="table-alignment">
      <table class="table" *ngIf="carServices.length > 0">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Service name</th>
          <th scope="col">Address</th>
          <th scope="col">Work time</th>
          <th scope="col">Employees</th>
          <th scope="col"></th>
          <th scope="col">
            <button type="button" class="btn btn-table-header" (click)="navigateToCreateCarService()">Create</button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let carService of carServices">
          <td>{{carService.id}}</td>
          <td>{{carService.serviceName}}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary" (click)="openModal(address)">Address</button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-secondary" (click)="openModal(workTime)">Work time</button>
          </td>
          <ng-template #address>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Address: #ID:{{carService.id}}, {{carService.serviceName}}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">Street name: {{carService.address.streetName}}</li>
                <li class="list-group-item">Building number: {{carService.address.buildingNumber}}</li>
                <li class="list-group-item">City: {{carService.address.city}}</li>
                <li class="list-group-item">Country: {{carService.address.country}}</li>
                <li class="list-group-item">Postcode: {{carService.address.postCode}}</li>
              </ul>
            </div>
          </ng-template>
          <ng-template #workTime>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Work Time: #ID:{{carService.id}}, {{carService.serviceName}}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">Monday: {{carService.workTime.monday}}</li>
                <li class="list-group-item">Tuesday: {{carService.workTime.tuesday}}</li>
                <li class="list-group-item">Wednesday: {{carService.workTime.wednesday}}</li>
                <li class="list-group-item">Thursday: {{carService.workTime.thursday}}</li>
                <li class="list-group-item">Friday: {{carService.workTime.friday}}</li>
                <li class="list-group-item">Saturday: {{carService.workTime.saturday}}</li>
                <li class="list-group-item">Sunday: {{carService.workTime.sunday}}</li>
              </ul>
            </div>
          </ng-template>
          <td>{{carService.employeesNum}}</td>
          <td>
            <button class="btn btn-outline-secondary" mwlConfirmationPopover
                    [popoverTitle]="'Are you sure?'"
                    [popoverMessage]="'Do you want to update car service entry by id: ' + carService.id" placement="left"
                    [confirmText]="confirmText"
                    (confirm)="navigateToUpdateCarService(carService.id)">Update
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-secondary" (click)="openModalForDelete(delete)">Delete</button>
          </td>
          <ng-template #delete>
            <div class=" modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Are you sure?</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDelete.hide()">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  Do you want to delete car service entry by id: {{carService.id}}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRefForDelete.hide()">Close</button>
                  <button type="button" class="btn btn-outline-secondary" (click)="deleteCarServiceEntry(carService)">Delete</button>
                </div>
              </div>
            </div>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


