<div class="jumbotron">
  <div class="container">
    <div [hidden]="userCars.cars.length > 0">
      <div class="alert alert-danger" *ngIf="userCarsResponseMessage !== ''">{{ userCarsResponseMessage }}</div>
      <div><button type="button" class="btn btn-outline-secondary" (click)="navigateToUserCars()">My cars</button></div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="submitted && !isFailed">
        <h3>Registration:</h3>
        <form (ngSubmit)="onSubmit()" method="post">
          <div>
            <div class="form-group">
              <label>Select Car {{selectedUserCarID}}</label>
              <div>
                <button type="button" class="btn btn-outline-secondary button-size" (click)="openModalForCars(selectCarTemplate)">Show cars</button>
              </div>
            </div>
            <div class="form-group">
              <label>Select work {{selectedWorkID}}</label>
              <div>
                <button type="button" class="btn btn-outline-secondary button-size" (click)="openModalForWork(selectWorkTemplate)">Show works</button>
              </div>
            </div>
            <div class="form-group">
              <label>Select detail {{selectedDetailID}}</label>
              <div>
                <button type="button" class="btn btn-outline-secondary button-size" (click)="openModalForDetail(selectDetailTemplate)">Show details</button>
              </div>
            </div>
            <div class="form-group">
              <label>Select failure {{selectedFailureID}}</label>
              <div>
                <button type="button" class="btn btn-outline-secondary button-size" (click)="openModalForFailures(selectFailureTemplate)">Show failures</button>
              </div>
            </div>
            <div class="form-group">
              <label>Select registration date {{selectedScheduleID}}</label>
              <div>
                <button type="button" class="btn btn-outline-secondary button-size" (click)="openModalForSchedule(selectScheduleTemplate)">Show schedules</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <button type="submit" class="btn btn-outline-secondary" [disabled]="isValid == false">Create</button>
            </div>
            <div>
              <button class="btn btn-outline-secondary" (click)="navigateToRegistrationPage()">Back</button>
            </div>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && registrationCreateErrorMessage">Creating
          failed!<br/>{{ registrationCreateErrorMessage }}</div></div>
      <div class="alert alert-success" *ngIf="submitted && !isFailed">{{registrationCreateResponseMessage}}</div></div>
  </div>
</div>

<ng-template #selectCarTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cars</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForUserCars.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
        <div class="user-car-content">
          <div *ngFor="let car of userCars.cars" (click)="selectUserCar(car.id)" style="cursor: pointer">
            <ul class="list-group">
              <li class="list-group-item">Brand name: {{car.brandName}}</li>
              <li class="list-group-item">Series name: {{car.seriesName}}</li>
              <li class="list-group-item">Manufacture year: {{car.manufactureYear}}</li>
              <li class="list-group-item">Engine displacement: {{car.engineDisplacement}} l/m3</li>
              <li class="list-group-item">Engine type: {{car.engineType}}</li>
              <li class="list-group-item">Engine Power: {{car.enginePower}} kW</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</ng-template>
<ng-template #selectWorkTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Works</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForWork.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-6 ">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-secondary" (click)="searchWorksByAnyRequest()">Search</button>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="alert alert-danger" *ngIf="worksErrorMessage">{{ worksErrorMessage }}</div>
          <div class="alert alert-danger" *ngIf="worksResponseMessage">{{ worksResponseMessage }}</div>
        </div>
        <div>
          <div class="table-alignment">
            <table class="table" *ngIf="works.length > 0">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Work type</th>
                <th scope="col">Work name</th>
                <th scope="col">Work price</th>
                <th scope="col">Car service</th>
                <th scope="col">Car</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let work of works">
                <td>{{work.id}}</td>
                <td>{{work.workType}}</td>
                <td>{{work.workName}}</td>
                <td>{{work.price}}</td>
                <td><button type="button" class="btn btn-outline-secondary" (click)="openModalForCarService(templateCarService, work.carService)">Show {{work.carService.serviceName}}</button></td>
                <td><button type="button" class="btn btn-outline-secondary" (click)="openModalForCar(templateCar, work.car)">Show car</button></td>
                <td><button type="button" class="btn btn-outline-secondary" (click)="selectWork(work.id)">Select</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</ng-template>
<ng-template #selectDetailTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDetail.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6 ">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" (click)="searchDetailByAnyRequest()">Search</button>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="alert alert-danger" *ngIf="detailsErrorMessage">{{ detailsErrorMessage }}</div>
        <div class="alert alert-danger" *ngIf="detailsResponseMessage">{{ detailsResponseMessage }}</div>
      </div>
      <div>
        <div class="table-alignment">
          <table class="table" *ngIf="details.length > 0 ">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Detail type</th>
              <th scope="col">Detail name</th>
              <th scope="col">Price</th>
              <th scope="col">Origin country</th>
              <th scope="col">Car</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detail of details">
              <td>{{detail.id}}</td>
              <td>{{detail.detailType}}</td>
              <td>{{detail.detailName}}</td>
              <td>{{detail.price}}</td>
              <td>{{detail.originCountry}}</td>
              <td><button type="button" class="btn btn-outline-secondary" (click)="openModalForCar(templateCar, detail.car)">Show Car</button></td>
              <td><button type="button" class="btn btn-outline-secondary" (click)="selectDetail(detail.id)">Select</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #selectFailureTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Failures</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForFailures.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
      <div class="table-alignment">
        <div class="alert alert-danger" *ngIf="failuresResponseMessage">{{user.username}} doesn't have any registered failures!</div>
        <table class="table" *ngIf="failures.length > 0">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Failure type</th>
            <th scope="col">Failure location</th>
            <th scope="col">Failure description</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let failure of failures">
            <td>{{failure.failureType}}</td>
            <td>{{failure.failureLocation}}</td>
            <td><button type="button" class="btn btn-outline-secondary" (click)="openModalForFailure(failureDescription, failure)">Show more</button></td>
            <td><button type="button" class="btn btn-outline-secondary" (click)="selectFailure(failure.id)">Select</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #selectScheduleTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Schedules</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForSchedule.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="content-alignment">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-6 ">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-secondary" (click)="searchScheduleByAnyRequest()">Search</button>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="alert alert-danger" *ngIf="schedulesErrorMessage">{{ schedulesErrorMessage }}</div>
          <div class="alert alert-danger" *ngIf="schedulesResponseMessage">{{ schedulesResponseMessage }}</div>
        </div>
        <div>
          <div class="table-alignment">
            <table class="table" *ngIf="schedules.length > 0">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Car Service</th>
                <th scope="col">Free spaces</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let schedule of schedules">
                <td>{{schedule.id}}</td>
                <td>{{schedule.date}}</td>
                <td>{{schedule.time}}</td>
                <td><button type="button" class="btn btn-outline-secondary" (click)="openModalForCarService(templateCarService, schedule.carService)">Show {{schedule.carService.serviceName}}</button></td>
                <td style="color: green" *ngIf="schedule.freeSpace">YES</td>
                <td style="color: red" *ngIf="!schedule.freeSpace" >NO</td>
                <td><button type="button" class="btn btn-outline-secondary" (click)="selectSchedule(schedule.id)">Select</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</ng-template>









<ng-template #templateCar>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Car: ID:{{car.id}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCar.hide()">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Brand name: {{car.brandName}}</li>
          <li class="list-group-item">Series name: {{car.seriesName}}</li>
          <li class="list-group-item">Manufacture year: {{car.manufactureYear}}</li>
          <li class="list-group-item">Engine displacement: {{car.engineDisplacement}} l/m3</li>
          <li class="list-group-item">Engine type: {{car.engineType}}</li>
          <li class="list-group-item">Engine Power: {{car.enginePower}} kW</li>
        </ul>
      </div>
</ng-template>

<ng-template #templateCarService>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Car service ID: {{carService.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCarService.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Service name: {{carService.serviceName}}</li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForAddress(ADDRESS)">Address</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForWorkTime(WORKTIME)">Work time</button></li>
      <li class="list-group-item">Employees number: {{carService.employeesNum}}</li>
    </ul>
  </div>
</ng-template>
<ng-template #ADDRESS>
  <div class=" modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Address:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForAddress.hide()">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Street name: {{address.streetName}}</li>
          <li class="list-group-item">Building number: {{address.buildingNumber}}</li>
          <li class="list-group-item">City: {{address.city}}</li>
          <li class="list-group-item">Country: {{address.country}}</li>
          <li class="list-group-item">Postcode: {{address.postCode}}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #WORKTIME>
  <div class=" modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Work time:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForWorkTime.hide()">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Monday: {{workTime.monday}}</li>
          <li class="list-group-item">Tuesday: {{workTime.tuesday}}</li>
          <li class="list-group-item">Wednesday: {{workTime.wednesday}}</li>
          <li class="list-group-item">Thursday: {{workTime.thursday}}</li>
          <li class="list-group-item">Friday: {{workTime.friday}}</li>
          <li class="list-group-item">Saturday: {{workTime.saturday}}</li>
          <li class="list-group-item">Sunday: {{workTime.sunday}}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #failureDescription>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Failure:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForFailure.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Failure type: {{failure.failureType}}</li>
      <li class="list-group-item">Failure location: {{failure.failureLocation}}</li>
      <li class="list-group-item">Failure description: {{failure.failureDescription}}</li>
    </ul>
  </div>
</ng-template>





