.content-alignment {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10%;

}

.user-car-content {
  justify-content:space-around;
  display: flex;
  flex-direction:row;
  padding-bottom: 1%;
}

.add-btn{
  display: flex;
  flex-direction:row-reverse;
  margin:0;
}

.btn-outline-secondary:hover {
  background-color: #343a40;
  color: white;
}

.btn-outline-secondary {
  color: black;
  margin-right: 5%;
}
