<div class="content-alignment">
  <div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="alert alert-success" *ngIf="responseMessage">{{ responseMessage }}</div>
  </div>
  <div>
    <button type="button" class="btn btn-outline-secondary"
            mwlConfirmationPopover
            [popoverTitle]="'Are you sure?'"
            [popoverMessage]="'Do you want to add new car?'" placement="left"
            [confirmText]="confirmText"
            (confirm)="openModalForCar(selectCarTemplate)">Add
    </button>
    <div class="user-car-content">
      <div *ngFor="let car of userCar.cars">
        <div class="add-btn">
          <div>
            <svg style="cursor: pointer" (click)="openModalForDelete(DELETE)" width="24" height="24"
                 xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path
                d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/>
            </svg>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Brand name: {{car.brandName}}</li>
          <li class="list-group-item">Series name: {{car.seriesName}}</li>
          <li class="list-group-item">Manufacture year: {{car.manufactureYear}}</li>
          <li class="list-group-item">Engine displacement: {{car.engineDisplacement}} l/m3</li>
          <li class="list-group-item">Engine type: {{car.engineType}}</li>
          <li class="list-group-item">Engine Power: {{car.enginePower}} kW</li>
        </ul>
        <ng-template #DELETE>
          <div class=" modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title pull-left">Are you sure?</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDelete.hide()">
                  <span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                Do you want to delete your car {{car.brandName}} {{car.seriesName}}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRefForDelete.hide()">
                  Close
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="deleteUserCar(car.id)">Delete</button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #selectCarTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Cars</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCar.hide()">
        <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6 ">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" (click)="searchCarByAnyRequest()">Search
                </button>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                     [(ngModel)]="request">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="alert alert-danger" *ngIf="carsErrorMessage">{{ carsErrorMessage }}</div>
        <div class="alert alert-danger" *ngIf="carsResponseMessage">{{ carsResponseMessage }}</div>
      </div>
      <div class="table-alignment">
        <table class="table" *ngIf="carsList.length > 0">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Series</th>
            <th scope="col">Manufacture years</th>
            <th scope="col">Engine displacement</th>
            <th scope="col">Engine type</th>
            <th scope="col">Engine power</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let car of carsList">
            <td>{{car.id}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.seriesName}}</td>
            <td>{{car.manufactureYear}}</td>
            <td>{{car.engineDisplacement}}</td>
            <td>{{car.engineType}}</td>
            <td>{{car.enginePower}}</td>
            <td>
              <button class="btn btn-outline-secondary" (click)="selectCar(car)">Select</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>



