<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="submitted && isValid && !isFailed">
        <h3>Create New Schedule entry in the database</h3>

        <div class="date-alignment">
          <div >
            <label>Select date:</label>
          </div>
          <div >
            <label>Select time:</label>
          </div>
        </div>

        <div class="date-alignment">
          <div class="form-group">
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', isAnimated: true}"
                   [bsConfig]="bsConfig"
                   #dp="bsDatepicker"
                   bsDatepicker [(ngModel)]="selectedDate"/>

              <button type="button" class="btn btn-outline-secondary" (click)="dp.toggle()">Date</button>
          </div>
          </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <div class="time-picker">
                  <timepicker [(ngModel)]="selectedTime" [showMeridian]="PM"></timepicker>
                </div>
              </div>
            </div>
        </div>

        <div class="content-alignment">
          <div class="form-group">
            <div><label>Select car service:</label></div>
            <button type="button" style="width: 160px" class="btn btn-outline-secondary" (click)="openModalCarService(carServiceTemplate)">Show
              car services
            </button>
          </div>

          <div class="form-group">
            <label>Select free space:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="selectedFreeSpace">
              <label class="form-check-label" for="defaultCheck1">
                Is free space
              </label>
            </div>
          </div>
        </div>


        <div class="form-group button-alignment">
          <div>
            <button type="button" class="btn btn-outline-secondary" (click)="onSubmit()">Create</button>
          </div>
          <div>
            <button type="button" class="btn btn-outline-secondary" (click)="back()">Back</button>
          </div>
        </div>
        <div class="alert alert-warning" *ngIf="submitted && isValid && createErrorMessage">Creating
          failed!<br/>{{ createErrorMessage }}</div>
        <div class="alert alert-warning" *ngIf="submitted && !isValid && validationResponseMessage">Creating
          failed!<br/>{{ validationResponseMessage }}</div>
      </div>
      <div class="alert alert-success" *ngIf="submitted && isValid && !isFailed">{{createResponseMessage}}</div>
    </div>
  </div>
</div>

<ng-template #carServiceTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Car services</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCarService.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div>
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6 ">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" (click)="searchCarServicesByAnyRequest()">
                  Search
                </button>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                     [(ngModel)]="request">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="alert alert-danger" *ngIf="carServiceErrorMessage">{{ carServiceErrorMessage }}</div>
        <div class="alert alert-danger" *ngIf="carServiceResponseMessage">{{ carServiceResponseMessage }}</div>
      </div>
      <div>
        <div class="table-alignment">
          <table class="table" *ngIf="carServices.length > 0">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Service name</th>
              <th scope="col">Address</th>
              <th scope="col">Work time</th>
              <th scope="col">Employees</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carService of carServices">
              <td>{{carService.id}}</td>
              <td>{{carService.serviceName}}</td>
              <td>
                <button type="button" class="btn btn-outline-secondary" (click)="openModalForAddress(address)">Address
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-secondary" (click)="openModalForWorkTime(workTime)">Work
                  time
                </button>
              </td>
              <ng-template #address>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Address: #ID:{{carService.id}}, {{carService.serviceName}}</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForAddress.hide()">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">Street name: {{carService.address.streetName}}</li>
                    <li class="list-group-item">Building number: {{carService.address.buildingNumber}}</li>
                    <li class="list-group-item">City: {{carService.address.city}}</li>
                    <li class="list-group-item">Country: {{carService.address.country}}</li>
                    <li class="list-group-item">Postcode: {{carService.address.postCode}}</li>
                  </ul>
                </div>
              </ng-template>
              <ng-template #workTime>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Work Time: #ID:{{carService.id}}, {{carService.serviceName}}</h4>
                  <button type="button" class="close pull-right" aria-label="Close"
                          (click)="modalRefForWorkTime.hide()">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">Monday: {{carService.workTime.monday}}</li>
                    <li class="list-group-item">Tuesday: {{carService.workTime.tuesday}}</li>
                    <li class="list-group-item">Wednesday: {{carService.workTime.wednesday}}</li>
                    <li class="list-group-item">Thursday: {{carService.workTime.thursday}}</li>
                    <li class="list-group-item">Friday: {{carService.workTime.friday}}</li>
                    <li class="list-group-item">Saturday: {{carService.workTime.saturday}}</li>
                    <li class="list-group-item">Sunday: {{carService.workTime.sunday}}</li>
                  </ul>
                </div>
              </ng-template>
              <td>{{carService.employeesNum}}</td>
              <td>
                <button type="button" class="btn btn-outline-secondary" (click)="selectCarService(carService)">Select
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>

