<div class="content-alignment">
  <div *ngIf="showAdminBoard || showModeratorBoard">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 ">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary" (click)="searchByAnyRequest()">Search</button>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="alert alert-danger" *ngIf="failuresErrorMessage">{{ failuresErrorMessage }}</div>
      <div class="alert alert-danger" *ngIf="failuresResponseMessage">{{ failuresResponseMessage }}</div>
    </div>
    <div>
      <div class="table-alignment">
        <table class="table" *ngIf="failures != []">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Failure type</th>
            <th scope="col">Failure location</th>
            <th scope="col">Failure description</th>
            <th scope="col">User</th>
            <th scope="col"></th>
            <th scope="col"><button type="button" class="btn btn-table-header" (click)="navigateToFailureCreate()">Create</button></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let failure of failures">
            <td>{{failure.id}}</td>
            <td>{{failure.failureType}}</td>
            <td>{{failure.failureLocation}}</td>
            <td><button type="button" class="btn btn-outline-secondary" (click)="openModalFailure(failureDescription)">Show more</button></td>
            <td><button type="button" class="btn btn-outline-secondary" (click)="openModalUser(USER, failure.user)">User info</button></td>
            <td>
              <button class="btn btn-outline-secondary" mwlConfirmationPopover
                      [popoverTitle]="'Are you sure?'"
                      [popoverMessage]="'Do you want to update failure entry by id: ' + failure.id" placement="left"
                      [confirmText]="confirmText"
                      (confirm)="navigateToUpdateFailure(failure.id)">Update
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-secondary" (click)="openModalForDelete(delete)">Delete</button>
            </td>
            <ng-template #delete>
              <div class=" modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Are you sure?</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDelete.hide()">
                      <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete failure entry by id: {{failure.id}}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRefForDelete.hide()">Close</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="deleteFailureEntry(failure)">Delete</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #failureDescription>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Failure: ID:{{failure.id}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  <li class="list-group-item">Failure type: {{failure.failureType}}</li>
                  <li class="list-group-item">Failure location: {{failure.failureLocation}}</li>
                  <li class="list-group-item">Failure description: {{failure.failureDescription}}</li>
                  <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalUser(USER, failure.user)">User info</button></li>
                </ul>
              </div>
            </ng-template>
            <ng-template #USER>
              <div class="modal-header">
                <h4 class="modal-title pull-left">User ID: {{user.id}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  <li class="list-group-item">Username: {{user.username}}</li>
                  <li class="list-group-item">Firstname: {{user.firstname}}</li>
                  <li class="list-group-item">Lastname: {{user.lastname}}</li>
                  <li class="list-group-item">Email: {{user.email}}</li>
                  <li class="list-group-item">Phone number: {{user.phoneNumber}}</li>
                </ul>
              </div>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="showUserBoard">
    <div class="table-alignment" [hidden]="!showUserBoard">
      <div class="alert alert-danger" *ngIf="failuresResponseMessage">{{loggedInUser.username}} doesn't have any registered failures!</div>
      <table class="table" *ngIf="failures.length > 0">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Failure type</th>
          <th scope="col">Failure location</th>
          <th scope="col">Failure description</th>
          <th scope="col">User</th>
          <th scope="col"><button type="button" class="btn btn-table-header" (click)="navigateToFailureCreate()">Register new failure</button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let failure of failures">
          <td>{{failure.failureType}}</td>
          <td>{{failure.failureLocation}}</td>
          <td><button type="button" class="btn btn-outline-secondary" (click)="openModalFailure(failureDescription)">Show more</button></td>
          <td><button type="button" class="btn btn-outline-secondary" (click)="openModalUser(USER, failure.user)">User info</button></td>
          <td>
            <button class="btn btn-outline-secondary" mwlConfirmationPopover
                    [popoverTitle]="'Are you sure?'"
                    [popoverMessage]="'Do you want to update failure entry by id: ' + failure.id" placement="left"
                    [confirmText]="confirmText"
                    (confirm)="navigateToUpdateFailure(failure.id)">Modify
            </button>
          </td>
          <ng-template #failureDescription>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Failure:</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">Failure type: {{failure.failureType}}</li>
                <li class="list-group-item">Failure location: {{failure.failureLocation}}</li>
                <li class="list-group-item">Failure description: {{failure.failureDescription}}</li>
                <li class="list-group-item">
                  <button type="button" class="btn btn-outline-secondary" (click)="openModalUser(USER, failure.user)">User info</button>
                </li>
              </ul>
            </div>
          </ng-template>
          <ng-template #USER>
            <div class="modal-header">
              <h4 class="modal-title pull-left">User info:</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">Username: {{user.username}}</li>
                <li class="list-group-item">Firstname: {{user.firstname}}</li>
                <li class="list-group-item">Lastname: {{user.lastname}}</li>
                <li class="list-group-item">Email: {{user.email}}</li>
                <li class="list-group-item">Phone number: {{user.phoneNumber}}</li>
              </ul>
            </div>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>














