<div class="content-alignment">
  <div *ngIf="showAdminBoard || showModeratorBoard">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 ">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary" (click)="searchByAnyRequest()">Search</button>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="alert alert-danger" *ngIf="schedulesErrorMessage">{{ schedulesErrorMessage }}</div>
      <div class="alert alert-danger" *ngIf="schedulesResponseMessage">{{ schedulesResponseMessage }}</div>
    </div>
    <div>
      <div class="table-alignment">
        <table class="table" *ngIf="schedules.length !== []">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Car Service</th>
            <th scope="col">Free spaces</th>
            <th scope="col"></th>
            <th scope="col"><button type="button" class="btn btn-table-header" (click)="navigateToSchedulesCreate()">Create</button></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let schedule of schedules | async">
            <td>{{schedule.id}}</td>
            <td>{{schedule.date}}</td>
            <td>{{schedule.time}}</td>
            <td><button type="button" class="btn btn-outline-secondary" (click)="openModalCarService(CARSERVICE, schedule.carService.address, schedule.carService.workTime)">Show {{schedule.carService.serviceName}}</button></td>
            <td *ngIf="schedule.freeSpace"><button type="button" style="color: green" class="btn " (click)="updateSchedule(schedule)">YES</button></td>
            <td *ngIf="!schedule.freeSpace" ><button type="button" style="color: red" class="btn " (click)="updateSchedule(schedule)">NO</button></td>
            <td>
              <button class="btn btn-outline-secondary" mwlConfirmationPopover
                      [popoverTitle]="'Are you sure?'"
                      [popoverMessage]="'Do you want to update schedule entry by id: ' + schedule.id" placement="left"
                      [confirmText]="confirmText"
                      (confirm)="navigateToSchedulesUpdate(schedule.id)">Update
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-secondary" (click)="openModalForDelete(DELETE)">Delete</button>
            </td>
            <ng-template #DELETE>
              <div class=" modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Are you sure?</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDelete.hide()">
                      <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete schedule entry by id: {{schedule.id}}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRefForDelete.hide()">Close</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="deleteSchedulesEntry(schedule)">Delete</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #CARSERVICE>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Car service: ID:{{schedule.carService.id}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCarService.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  <li class="list-group-item">Service name: {{schedule.carService.serviceName}}</li>
                  <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForAddress(ADDRESS)">Address</button></li>
                  <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForWorkTime(WORKTIME)">Work time</button></li>
                  <li class="list-group-item">Employees number: {{schedule.carService.employeesNum}}</li>
                </ul>
              </div>
            </ng-template>
            <ng-template #ADDRESS>
              <div class=" modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Address:</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForAddress.hide()">
                      <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <ul class="list-group">
                      <li class="list-group-item">Street name: {{address.streetName}}</li>
                      <li class="list-group-item">Building number: {{address.buildingNumber}}</li>
                      <li class="list-group-item">City: {{address.city}}</li>
                      <li class="list-group-item">Country: {{address.country}}</li>
                      <li class="list-group-item">Postcode: {{address.postCode}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #WORKTIME>
              <div class=" modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Work time:</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForWorkTime.hide()">
                      <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <ul class="list-group">
                      <li class="list-group-item">Monday: {{workTime.monday}}</li>
                      <li class="list-group-item">Tuesday: {{workTime.tuesday}}</li>
                      <li class="list-group-item">Wednesday: {{workTime.wednesday}}</li>
                      <li class="list-group-item">Thursday: {{workTime.thursday}}</li>
                      <li class="list-group-item">Friday: {{workTime.friday}}</li>
                      <li class="list-group-item">Saturday: {{workTime.saturday}}</li>
                      <li class="list-group-item">Sunday: {{workTime.sunday}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>














