.btn-outline-secondary:hover {
  background-color: #343a40;
  color: white;
}

.btn-outline-secondary {
  color: black;
  margin-right: 5%;
  width: 100%;
}

.button-alignment {
  display: flex;
  align-items:center;
  justify-content:space-between;
}

.button-alignment-cars {
  display: flex;
  align-items:center;
}
.button-inner-alignment-cars {
   margin-right: 2%;
 }

.detail-content {
  justify-content:space-between;
  display: flex;
  flex-direction:row;
}

.detail-content-inner {
  margin-right: 20px !important;
}



