.btn-outline-secondary:hover {
  background-color: black;
  color: white;
}

.btn-outline-secondary {
  color: black;
  margin-right: 5%;
}

.btn-table:hover {
  color: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}

.btn-table {
  background-color: white;
  color: black;
  margin-right: 5%;
  border: white;
}

.button-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jumbotron {
  padding-top: 10%;
  padding-bottom: 0;
}

.btn-table-header {
  color: black;
  background-color: white;
  margin-right: 5%;
}

.btn-table-header:hover {
  background-color: #343a40;
  color: white;
}

.content-alignment {
  margin-left: 15%;
  margin-right: 15%;
}

.table-alignment {
  display: flex;
  margin-top: 5%;
}

.svg-delete {
  cursor: pointer;
  fill: black;
}

.svg-delete:hover {
  fill: red;
  -webkit-transition: all 0.8s ease;
}

.svg-update {
  cursor: pointer;
  fill: black;
}

.svg-update:hover {
  fill: mediumblue;
  -webkit-transition: all 0.8s ease;
}

.svg-create {
  cursor: pointer;
  fill: white;
}

.svg-create:hover {
  fill: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}
