<div class="content-alignment">
  <div *ngIf="showAdminBoard || showModeratorBoard">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 ">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary" (click)="searchByAnyRequest()">Search</button>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="request">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="alert alert-danger" *ngIf="registrationErrorMessage">{{ registrationErrorMessage }}</div>
      <div class="alert alert-danger" *ngIf="registrationResponseMessage">{{ registrationResponseMessage }}</div>
    </div>
    <div>
      <div class="table-alignment">
        <table class="table" *ngIf="registrations.length !== []">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">User</th>
            <th scope="col">User car</th>
            <th scope="col">Car service</th>
            <th scope="col">Work</th>
            <th scope="col">Detail</th>
            <th scope="col">Failure</th>
            <th scope="col">Schedule</th>
            <th scope="col">Total price</th>
            <th scope="col"></th>
            <th scope="col">
              <svg class="svg-create" (click)="openModalForRegistrationCreate(CREATE)" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M7 2c1.695 1.942 2.371 3 4 3h13v17h-24v-20h7zm4 5c-2.339 0-3.537-1.388-4.917-3h-4.083v16h20v-13h-11zm2 6h3v2h-3v3h-2v-3h-3v-2h3v-3h2v3z"/>
                <title>Create</title></svg></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let registration of registrations" >
            <td>{{registration.id}}</td>
            <td><button type="button" class="btn-table" (click)="openModalForUser(USER, registration.user)">{{registration.user.username}}</button></td>
            <td><button type="button" class="btn-table" (click)="openModalForCar(userCAR, registration.userCar)">{{registration.userCar.brandName}}</button></td>
            <td><button type="button" class="btn-table" (click)="openModalCarService(CARSERVICE, registration.schedule.carService)">{{registration.schedule.carService.serviceName}}</button></td>
            <td><button type="button" class="btn-table" (click)="openModalForWork(WORK, registration.work)">Work</button></td>
            <td><button type="button" class="btn-table" (click)="openModalForDetail(DETAIL, registration.detail)">Detail</button></td>
            <td><button type="button" class="btn-table" (click)="openModalForFailure(FAILURE, registration.failure)">Failure</button></td>
            <td><button type="button" class="btn-table" (click)="openModalForSchedule(SCHEDULE, registration.schedule)">Date</button></td>
            <td>{{registration.totalPrice}} €</td>
            <td>
              <button class="btn-table " mwlConfirmationPopover
                      [popoverTitle]="'Are you sure?'"
                      [popoverMessage]="'Do you want to update registration of user ' + registration.user.username" placement="left"
                      [confirmText]="confirmText"
                      (confirm)="navigateToUpdateRegistration(registration.id)">
                <svg class="svg-update" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.408 24h-13.408v-24h10.189c3.163 0 9.811 7.223 9.811 9.614v2.068c-.622-.296-1.293-.502-2-.603v-.623c0-4.106-6-2.456-6-2.456s1.518-6-2.638-6h-7.362v20h9.26c.566.81 1.299 1.49 2.148 2zm2.257-8.669c.402-.206.852-.331 1.335-.331 1.455 0 2.67 1.042 2.941 2.418l1.96-.398c-.456-2.291-2.475-4.02-4.901-4.02-.957 0-1.845.278-2.604.745l-1.396-1.745-1 5h5l-1.335-1.669zm5.335 8.669l-1.396-1.745c-.759.467-1.647.745-2.604.745-2.426 0-4.445-1.729-4.901-4.02l1.96-.398c.271 1.376 1.486 2.418 2.941 2.418.483 0 .933-.125 1.335-.331l-1.335-1.669h5l-1 5z"/>
                  <title>Update</title></svg>
              </button>
            </td>
            <td>
              <svg class="svg-delete" (click)="openModalForDelete(DELETE)" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 21h-17l-7-7.972 7-8.028h17v16zm-16.09-14l-5.252 6.023 5.247 5.977h14.095v-12h-14.09zm6.09 4.586l2.586-2.586 1.414 1.414-2.586 2.586 2.586 2.586-1.414 1.414-2.586-2.586-2.586 2.586-1.414-1.414 2.586-2.586-2.586-2.586 1.414-1.414 2.586 2.586z"/>
                <title>Delete</title></svg>
            </td>
            <ng-template #DELETE>
              <div class=" modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Are you sure?</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDelete.hide()">
                      <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete {{registration.user.username}} registration entry by id: {{registration.id}}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRefForDelete.hide()">Close</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="deleteRegistrationEntry(registration)">Delete</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #USER>
  <div class="modal-header">
    <h4 class="modal-title pull-left">User info:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForUser.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Username: {{user.username}}</li>
      <li class="list-group-item">Firstname: {{user.firstname}}</li>
      <li class="list-group-item">Lastname: {{user.lastname}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Phone number: {{user.phoneNumber}}</li>
    </ul>
  </div>
</ng-template>

<ng-template #userCAR>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Car: ID:{{userCar.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCar.hide()">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Brand name: {{userCar.brandName}}</li>
      <li class="list-group-item">Series name: {{userCar.seriesName}}</li>
      <li class="list-group-item">Manufacture year: {{userCar.manufactureYear}}</li>
      <li class="list-group-item">Engine displacement: {{userCar.engineDisplacement}} l/m3</li>
      <li class="list-group-item">Engine type: {{userCar.engineType}}</li>
      <li class="list-group-item">Engine Power: {{userCar.enginePower}} kW</li>
    </ul>
  </div>
</ng-template>

<ng-template #CARSERVICE>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Car service: ID: {{carService.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForCarService.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Service name: {{carService.serviceName}}</li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForAddress(ADDRESS)">Address</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForWorkTime(WORKTIME)">Work time</button></li>
      <li class="list-group-item">Employees number: {{carService.employeesNum}}</li>
    </ul>
  </div>
</ng-template>

<ng-template #ADDRESS>
  <div class=" modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Address:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForAddress.hide()">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Street name: {{address.streetName}}</li>
          <li class="list-group-item">Building number: {{address.buildingNumber}}</li>
          <li class="list-group-item">City: {{address.city}}</li>
          <li class="list-group-item">Country: {{address.country}}</li>
          <li class="list-group-item">Postcode: {{address.postCode}}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #WORKTIME>
  <div class=" modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Work time:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForWorkTime.hide()">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Monday: {{workTime.monday}}</li>
          <li class="list-group-item">Tuesday: {{workTime.tuesday}}</li>
          <li class="list-group-item">Wednesday: {{workTime.wednesday}}</li>
          <li class="list-group-item">Thursday: {{workTime.thursday}}</li>
          <li class="list-group-item">Friday: {{workTime.friday}}</li>
          <li class="list-group-item">Saturday: {{workTime.saturday}}</li>
          <li class="list-group-item">Sunday: {{workTime.sunday}}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #WORK>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Work: </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForWork.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Work type: {{work.workType}}</li>
      <li class="list-group-item">Work name: {{work.workName}}</li>
      <li class="list-group-item">Price: {{work.price}}</li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalCarService(CARSERVICE, work.carService)">Show {{work.carService.serviceName}}</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForCar(userCAR, work.car)">User car {{userCar.brandName}}</button></li>
    </ul>
  </div>
</ng-template>

<ng-template #DETAIL>
  <div class=" modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Detail:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForDetail.hide()">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">ID: {{detail.id}}</li>
          <li class="list-group-item">Detail type: {{detail.detailType}}</li>
          <li class="list-group-item">Detail name: {{detail.detailName}}</li>
          <li class="list-group-item">Detail price: {{detail.price}}</li>
          <li class="list-group-item">Origin country: {{detail.originCountry}}</li>
          <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalForCar(userCAR, detail.car)">Car {{detail.car.brandName}} info</button></li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #FAILURE>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Failure:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForFailure.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Failure type: {{failure.failureType}}</li>
      <li class="list-group-item">Failure location: {{failure.failureLocation}}</li>
      <li class="list-group-item">Failure description: {{failure.failureDescription}}</li>
      <li class="list-group-item">
        <button type="button" class="btn btn-outline-secondary" (click)="openModalForUser(USER, failure.user)">{{failure.user.username}} info</button>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #SCHEDULE>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Schedule:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForSchedule.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">ID: {{schedule.id}}</li>
      <li class="list-group-item">Date: {{schedule.date}}</li>
      <li class="list-group-item">Time: {{schedule.time}}</li>
      <li class="list-group-item" *ngIf="schedule.freeSpace" style="color: green">YES</li>
      <li class="list-group-item" *ngIf="!schedule.freeSpace" style="color: red">NO</li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="openModalCarService(CARSERVICE, schedule.carService)">Show {{schedule.carService.serviceName}}</button></li>
      <td>
    </ul>
  </div>
</ng-template>

<ng-template #CREATE>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Registration:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefForRegistrationCreate.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <app-registration-create></app-registration-create>
  </div>
</ng-template>












